.titulo{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
}

.dados{
  display: flex;
  gap: 4rem;
}

.animal{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  background: #aae4ff;
  padding: 1rem 0;
  border-radius: 10px;
  margin: .5rem 0;
}

#animais h1{
  font-size: 3rem;
}

h2, a{
  font: 600 2rem var(--title-family);
  color: #34355B;
  line-height: 3rem;
}

h3{
  font: 600 1.6rem var(--title-family);
  color: #34355B;
  line-height: 3rem;
}

.card .animal p{
  color: #34355B;
}

.animais{
  margin-bottom: 2rem;
}

a{
  text-decoration: none;
  cursor: pointer;
}