body{
  background-image: linear-gradient(90deg, rgb(243, 158, 243), rgb(103, 103, 255));
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.login-form{
  background-color: rgb(3, 24, 61, 0.8);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  padding: 70px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  color: white;
}

.login-form input{
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.login-form button{
  border: none;
  padding: 10px;
  background-color: rgb(129, 196, 202);
  border-radius: 10px;
}

.login-form button:hover{
  background-color: rgb(124, 240, 250);
}